# App
LISTENER_PORT=8082
GOOGLE_MAPS_KEY=changeme
IS_DEVELOPMENT=1
JWT_SESSION_SECRET=changeme


# Lazy loading - number of pixels before the viewport to start loading images (higher = earlier preload)
LAZY_LOAD_OFFSET_PX=1500

# Airbnb this is the max items that can be returned by the api, once hit, the app will divide and conquer scraping based on price ranges
AIRBNB_MAX_RESULTS=270
# Delay between successful page requests (ms)
AIRBNB_REQUEST_DELAY_MS=3500
# Delay between detail listing page fetches (ms)
AIRBNB_DETAIL_DELAY_MS=1000
# Delay before retrying after a request error (ms)
AIRBNB_ERROR_DELAY_MS=120000

# Docker / Mongo
KIJIJI_MAPS_URL=kijiji.localhost
MONGO_EXPRESS_URL=mongo.localhost
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=changeme
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGODB_USERNAME=changeme
MONGODB_PASSWORD=changeme
MONGO_INITDB_DATABASE=kijiji_maps

# Mongo Express
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_USERNAME=changeme
MONGO_EXPRESS_PASSWORD=changeme
ME_CONFIG_MONGODB_SERVER=mongo
ME_CONFIG_MONGODB_PORT=27017
ME_CONFIG_MONGODB_ADMINUSERNAME=changeme
ME_CONFIG_MONGODB_ADMINPASSWORD=changeme
ME_CONFIG_BASICAUTH_USERNAME=changeme
ME_CONFIG_BASICAUTH_PASSWORD=changeme
