.modal{
    padding:0;
    margin:0;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 65%;
    overflow-y: auto;
}

.radio-under{
	width:80%;
	position: relative !important;
	margin:0 !important;
}

.clickable{
    cursor: pointer;
}

.content{
	min-height:150px !important;
}

#map{
    width: 100% !important;
}

#pac-input{
    left: 200px !important;
    top: 10px !important;
    width: 200px !important;
    height: 40px !important;
}

#messages { list-style-type: none; margin: 0; padding: 0; height:90%; overflow: auto}
/*#messages row { padding: 5px 10px; }*/
#messages .row:nth-child(odd) { background: #eee; }

.wrap{
    overflow-wrap: anywhere;
}

.row{
    max-width:100%;
    margin:0;
    padding:0;
}

#infoWindow {
    width: 200px;
}

tr td{
    display: table-cell !important;
    vertical-align: middle !important;
    float: none;
}